dist-newstyle/
*.hi
*.o
*.dyn_hi
*.dyn_o
*.so
package.cache
package.cache.lock
package.conf.inplace/
setup-config
build/
cache/
/tests/
/sina/
autogen/
Paths_sina.hs
PackageInfo_sina.hs
cabal_macros.h
*.log